.reservation-list {
    font-family: var(--font-primary);
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin-bottom: var(--space-small);
}
.reservation-list p {
    font-size: small;
    padding-bottom: var(--space-base);
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
tr{
    width: 100%;
}
th,
td {
    padding: var(--space-base);
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 0.9em;
}

td {
    border-bottom: 1px solid var(--color-secondary);
}

tr:last-child td {
    border-bottom: none;
}

.actions {
    text-align: right;
    width: 30%;
}

.actions button {
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: var(--space-base) var(--space-small);
    font-size: 0.9em;
    cursor: pointer;
    margin-left: var(--space-xsmall);
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: var(--space-base);
}

.actions button:hover {
    background-color: var(--color-secondary);
}
