h1,
h2,
h3,
h4,
h5,
p,
a {
    color: var(--color-black);
}


h1 {
    font-size: max(40px, 4.8vw); 
    font-weight: 100;
    letter-spacing: .03em;
}

h2 {
    font-size: max(25.6px, 2.6vw); 
    font-weight: 200;
    letter-spacing: .015em;
}

h3 {
    font-size: max(17.6px, 2vw); 
    font-weight: 100;
}

p {
    letter-spacing: .02em;
    line-height: 1.6;
}

small {
    font-weight: 300;
    font-size: .5em;
    white-space: nowrap;
}
