.detail-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8cc4ff30;
    border-radius: 10px;
    min-width: 200px;
    height: 100px;
}

.detail-item svg {
    margin-right: var(--space-xsmall);
}


@media screen and (max-width: 600px) {
    .detail-item p {
        font-size: small;
    }
}
    
   
