/* Dashboard.css */


/* Container do Dashboard */
.dashboard-container {
    display: flex;
    min-height: 80vh;
   
}

/* Estilos para o Sidebar */
.sidebar {
    background-color:#333333;

}


/* Estilos para os ícones do menu */
.menu-icon {
    margin-right: 10px;
}

/* Estilos para o conteúdo principal */
.main-content {
    padding: 20px;
    flex: 1;
    
}
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .main-content {
        margin-left: 0;
        margin-top: 20px;
    }
    
}