.cart-container {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
    text-align: center;
    color: var(--color-black);
}

.cart-container ul {
    list-style-type: none;
    padding: 0;
}

.cart-container li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.cart-container li p {
    margin: 5px 0;
    color: #666;
}

.cart-container .cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

