.banner-details {
    display: flex;
    align-items: center;
    height: 14vh;
    background-color: var(--color-black);
    justify-content: space-between;
}
.banner-details h2,
h3 {
    color: var(--color-white);
}

.details-box {
    padding: var(--space-medium) 0;
}
.details-box h3 {
    margin-bottom: var(--space-xsmall);
}
.details-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: var(--space-xsmall) 0;
}

.description-paragraph {
    max-width: 500px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.back-button {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.back-button::before {
    content: " ←";
    padding-left: 10px;
    display: inline-block;
    position: absolute;
    left: 0px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.back-button:hover::before {
    transform: scale(1.7);
}

.back-button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-white);
}
.voiture-show-banner {
    padding-top: 30px;
}
.voiture-show-banner .slick-slide img {
    border-radius: 5px;
    max-height: 60vh;
    width: auto;
    margin: 0 auto;
}
.voiture-show-banner .slick-slide {
    transition: transform 0.3s ease;
}

.voiture-show-banner .slick-center {
    transform: scale(1.2);
}

.voiture-show-banner .slick-slide:not(.slick-center) {
    transform: scale(0.8);
}

@media screen and (max-width: 600px) {
    .details-section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
        place-items: center;
        gap: var(--space-xsmall);
    }
}
